<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Setion_AP"
        tools:targetApi="31">
        <activity
            android:name=".Modificacion_De_Informacion.MI_Tareas"
            android:exported="false" />
        <activity
            android:name=".Modificacion_De_Informacion.MI_ModificarTarea"
            android:exported="false" />
        <activity
            android:name=".Consulta_De_Proyectos.CP_Tareas"
            android:exported="false" />
        <activity
            android:name=".Consulta_De_Proyectos.CP_Consulta_De_Proyectos"
            android:exported="false" />
        <activity
            android:name=".pantallas_gestionProyectos.Creacion_De_Proyectos.GP_HistorialDeCambios"
            android:exported="false" />
        <activity
            android:name=".pantallas_gestionProyectos.Creacion_De_Proyectos.GP_CreacionProyectos"
            android:exported="false" />
        <activity
            android:name=".pantallas_gestionProyectos.Creacion_De_Proyectos.GP_AnadirColaborador"
            android:exported="false" />
        <activity
            android:name=".pantallas_gestionProyectos.Creacion_De_Proyectos.GP_AnadirTareas"
            android:exported="false" />
        <activity
            android:name=".Main_GestionProyectos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>